@mixin display() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__container {
    display: flex;
}

.card {
    @include display();
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 24px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 32px;
}