.card {
  padding-bottom: 120px;

  p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28.8px;
    color: #1D1F22;
  }

  p:last-child {
    font-weight: bold;
  }

  img {
    cursor: pointer;
  }
}

.popup__window {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(208, 200, 200);
  opacity: 0.5;
}